    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p> Tim Thomas is an urban sociologist researching the mechanisms and consequences of neighborhood change, residential segregation, and housing inequality. Tim specializes in spatio-temporal analysis, demographic methods, and population estimation. His research program crosses academic and civic domains, combining theory with data science, to answer policy-relevant research questions.</p>
                <p>Tim’s dissertation focuses on rental evictions, examining the demographic characteristics and related neighborhood dynamics of the evicted. He finds that African-American households in King County, WA, are evicted four and five times more than white households; diverse neighborhoods have the highest rates of eviction; and local poverty, nearby affluence and gentrification, and declines in education greatly increase the risk of eviction. Tim’s additional research investigates the relationship of segregation and neighborhood change with health, housing, and crime.</p>
                <p>As a postdoctoral fellow, Tim is working with data scientists to merge public housing, homelessness, and evictions data to understand the mechanisms of housing insecurity among vulnerable populations. He is also working with faculty at the UW and the University of British Columbia through the Cascadia Urban Analytic Cooperative to investigate the connections between neighborhood change, health, and housing throughout the region.</p>
            </div>
        </div>
    </section>





